In [24]:
import pandas as pd
import matplotlib.pyplot as plt

In [25]:
from pykrx import stock
df_stock = stock.get_market_ohlcv_by_date('20000101', '20201231', '041510')
df_stock_close = df_stock[['종가']]
df_stock_close.head()

              종가
날짜
2000-04-27  5325
2000-04-28  5961
2000-05-02  6677
2000-05-03  7471
2000-05-04  8366

In [26]:
df_stock.describe()

,시가,고가,저가,종가,거래량,등락률
count,5106.000000,5106.000000,5106.000000,5106.000000,5.106000e+03,5105.000000
mean,20449.616334,20891.615550,19987.422248,20414.195260,3.264390e+05,0.113808
std,17510.045848,17826.918424,17147.347029,17477.515563,4.467152e+05,4.017480
min,832.000000,948.000000,770.000000,833.000000,1.000000e+00,-15.087041
25%,3257.000000,3361.250000,3177.000000,3256.000000,1.004045e+05,-1.937984
50%,15432.500000,15989.000000,15031.500000,15413.000000,2.101940e+05,0.000000
75%,37100.000000,37850.000000,36387.500000,37050.000000,3.786250e+05,1.847291
max,69200.000000,71600.000000,66600.000000,69200.000000,8.928980e+06,15.020447

In [27]:
df_stock_close['변화량'] = df_stock_close['종가'] - df_stock_close['종가'].shift(1)
df_stock_close

/tmp/ipykernel_39747/368456586.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_stock_close['변화량'] = df_stock_close['종가'] - df_stock_close['종가'].shift(1)

               종가    변화량
날짜
2000-04-27   5325    NaN
2000-04-28   5961  636.0
2000-05-02   6677  716.0
2000-05-03   7471  794.0
2000-05-04   8366  895.0
...           ...    ...
2020-12-23  28400  300.0
2020-12-24  28950  550.0
2020-12-28  29400  450.0
2020-12-29  29450   50.0
2020-12-30  29750  300.0

[5106 rows x 2 columns]

In [28]:
condition_up = df_stock_close['변화량'] >= 0
condition_down = df_stock_close['변화량'] < 0
condition_down

날짜
2000-04-27    False
2000-04-28    False
2000-05-02    False
2000-05-03    False
2000-05-04    False
              ...
2020-12-23    False
2020-12-24    False
2020-12-28    False
2020-12-29    False
2020-12-30    False
Name: 변화량, Length: 5106, dtype: bool

In [29]:
df_stock_close.loc[condition_up, '상승폭'] = df_stock_close['변화량']
df_stock_close.loc[condition_down, '하락폭'] = - df_stock_close['변화량']
df_stock_close

/tmp/ipykernel_39747/4055830212.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_stock_close.loc[condition_up, '상승폭'] = df_stock_close['변화량']
/tmp/ipykernel_39747/4055830212.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_stock_close.loc[condition_down, '하락폭'] = - df_stock_close['변화량']

               종가    변화량    상승폭  하락폭
날짜
2000-04-27   5325    NaN    NaN  NaN
2000-04-28   5961  636.0  636.0  NaN
2000-05-02   6677  716.0  716.0  NaN
2000-05-03   7471  794.0  794.0  NaN
2000-05-04   8366  895.0  895.0  NaN
...           ...    ...    ...  ...
2020-12-23  28400  300.0  300.0  NaN
2020-12-24  28950  550.0  550.0  NaN
2020-12-28  29400  450.0  450.0  NaN
2020-12-29  29450   50.0   50.0  NaN
2020-12-30  29750  300.0  300.0  NaN

[5106 rows x 4 columns]

In [30]:
df_stock_close = df_stock_close.fillna(0)
df_stock_close

               종가    변화량    상승폭  하락폭
날짜
2000-04-27   5325    0.0    0.0  0.0
2000-04-28   5961  636.0  636.0  0.0
2000-05-02   6677  716.0  716.0  0.0
2000-05-03   7471  794.0  794.0  0.0
2000-05-04   8366  895.0  895.0  0.0
...           ...    ...    ...  ...
2020-12-23  28400  300.0  300.0  0.0
2020-12-24  28950  550.0  550.0  0.0
2020-12-28  29400  450.0  450.0  0.0
2020-12-29  29450   50.0   50.0  0.0
2020-12-30  29750  300.0  300.0  0.0

[5106 rows x 4 columns]

In [31]:
df_stock_close['AU'] = df_stock_close['상승폭'].rolling(window=14).mean()
df_stock_close['DU'] = df_stock_close['하락폭'].rolling(window=14).mean()
df_stock_close[13:20]

               종가     변화량     상승폭     하락폭           AU          DU
날짜
2000-05-19  18121 -2464.0     0.0  2464.0  1090.000000  176.000000
2000-05-22  15956 -2165.0     0.0  2165.0  1090.000000  330.642857
2000-05-23  14923 -1033.0     0.0  1033.0  1044.571429  404.428571
2000-05-24  16710  1787.0  1787.0     0.0  1121.071429  404.428571
2000-05-25  18697  1987.0  1987.0     0.0  1206.285714  404.428571
2000-05-26  20904  2207.0  2207.0     0.0  1300.000000  404.428571
2000-05-29  18399 -2505.0     0.0  2505.0  1229.142857  583.357143

In [32]:
df_stock_close['RSI'] = (df_stock_close['AU'] / (df_stock_close['AU'] + df_stock_close['DU'])) * 100
df_stock_close[12:].head()

               종가     변화량     상승폭     하락폭           AU          DU        RSI
날짜
2000-05-18  20585  2186.0  2186.0     0.0          NaN         NaN        NaN
2000-05-19  18121 -2464.0     0.0  2464.0  1090.000000  176.000000  86.097946
2000-05-22  15956 -2165.0     0.0  2165.0  1090.000000  330.642857  76.725828
2000-05-23  14923 -1033.0     0.0  1033.0  1044.571429  404.428571  72.089126
2000-05-24  16710  1787.0  1787.0     0.0  1121.071429  404.428571  73.488786

In [33]:
#매매 신호 설정
df_stock_close['매수'] = (df_stock_close['RSI'] < 30)  # RSI < 30
df_stock_close['매도'] = (df_stock_close['RSI'] > 70)  # RSI > 70
df_stock_close['보유'] = 1 - df_stock_close['매수'] - df_stock_close['매도']  # RSI 30 <= RSI <= 70

In [34]:
# 수익률 계산 (전략과 보유 비교)
df_stock_close['수익률'] = df_stock_close['종가'].pct_change()  # 종가 수익률
df_stock_close['전략수익률'] = 0  # 전략 수익률 (초기화)

In [35]:
# 전략 백테스팅: 매수/매도/보유에 따라 수익률 적용
for i in range(1, len(df_stock_close)):
    if df_stock_close['매수'].iloc[i] == 1:
        df_stock_close['전략수익률'].iloc[i] = df_stock_close['수익률'].iloc[i]  # 매수 시 수익률 반영
    elif df_stock_close['매도'].iloc[i] == 1:
        df_stock_close['전략수익률'].iloc[i] = -df_stock_close['수익률'].iloc[i]  # 매도 시 수익률 반영
    else:
        df_stock_close['전략수익률'].iloc[i] = df_stock_close['전략수익률'].iloc[i-1] + df_stock_close['수익률'].iloc[i]  # 보유 시 누적 수익률

/tmp/ipykernel_39747/1052208320.py:8: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_stock_close['전략수익률'].iloc[i] = df_stock_close['전략수익률'].iloc[i-1] + df_stock_close['수익률'].iloc[i]  # 보유 시 누적 수익률
/tmp/ipykernel_39747/1052208320.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_stock_close['전략수익률'].iloc[i] = df_stock_close['전략수익률'].iloc[i-1] + df_stock_close['수익률'].iloc[i]  # 보유 시 누적 수익률
/tmp/ipykernel_39747/1052208320.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.11943661971830988' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_stock_close['전략수익률'].iloc[i] = df_stock_close['전략수익률'].iloc[i-1] + df_stock_close['수익률'].iloc[i]  # 보유 시 누적 수익률
/tmp/ipykernel_39747/1052208320.py:8: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_stock_close['전략수익률'].iloc[i] = df_stock_close['전략수익률'].iloc[i-1] + df_stock_close['수익률'].iloc[i]  # 보유 시 누적 수익률
/tmp/ipykernel_39747/1052208320.py:6: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_stock_close['전략수익률'].iloc[i] = -df_stock_close['수익률'].iloc[i]  # 매도 시 수익률 반영
/tmp/ipykernel_39747/1052208320.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_stock_close['전략수익률'].iloc[i] = df_stock_close['수익률'].iloc[i]  # 매수 시 수익률 반영

In [36]:
# 누적 수익률 계산
df_stock_close['누적수익률'] = (1 + df_stock_close['전략수익률']).cumprod()

# 단순 보유와 전략 비교
df_stock_close['누적수익률_단순보유'] = (1 + df_stock_close['수익률']).cumprod()

# 결과 출력
df_stock_close[['종가', 'RSI', '매수', '매도', '전략수익률', '누적수익률', '누적수익률_단순보유']].tail()

               종가        RSI     매수     매도     전략수익률         누적수익률  누적수익률_단순보유
날짜
2020-12-23  28400  20.618557   True  False  0.010676  1.757694e-62    5.333333
2020-12-24  28950  35.227273  False  False  0.030042  1.810499e-62    5.436620
2020-12-28  29400  46.511628  False  False  0.045586  1.893033e-62    5.521127
2020-12-29  29450  43.209877  False  False  0.047287  1.982549e-62    5.530516
2020-12-30  29750  42.500000  False  False  0.057474  2.096494e-62    5.586854