In [79]:
import pandas as pd

In [80]:
data = {'종목 코드' : ['60310', '95570', '6840', '54620']
        , '종목명' : ['3S', 'AJ네트웍스', 'AK홀딩스', 'APS']
        , '시작일 기준가' : ['1890', '4600', '11200','5660']
        , '종료일 종가' : ['1941', '4745', '11070', '5700']
        , '대비' : ['51', '145', '-130', '40']
        , '등락률' : ['2.7','3.15','-1.16','0.71']
        , '거래량' : ['309268','104620','55481','208525']
        , '거래대금' : ['5595723413', '4806955935', '604085850', '1129272070']
}

df_components = pd.DataFrame(data)
df_components

   종목 코드     종목명 시작일 기준가 종료일 종가    대비    등락률     거래량        거래대금
0  60310      3S    1890   1941    51    2.7  309268  5595723413
1  95570  AJ네트웍스    4600   4745   145   3.15  104620  4806955935
2   6840   AK홀딩스   11200  11070  -130  -1.16   55481   604085850
3  54620     APS    5660   5700    40   0.71  208525  1129272070

In [81]:
#열 총합 계산
df_components[['대비']].sum()

대비    51145-13040
dtype: object

In [82]:
df_components.set_index('종목 코드', inplace=True)

In [83]:
df_selected = df_components[['종목명', '등락률']]
df_selected

          종목명    등락률
종목 코드
60310      3S    2.7
95570  AJ네트웍스   3.15
6840    AK홀딩스  -1.16
54620     APS   0.71

In [84]:
df_components['등락률'] = df_components['등락률'].astype(float)
avg_change_rate = df_components['등락률'].mean()
avg_change_rate

1.3499999999999999

In [85]:
positive_change = df_components[df_components['등락률'] > 0]

In [86]:
df_components['거래대금'] = df_components['거래대금'].astype(float)
high_volume = df_components[df_components['거래대금'] >= 10000000000]


result = high_volume[['종목명', '거래대금']]
print(result)

Empty DataFrame
Columns: [종목명, 거래대금]
Index: []

In [87]:
df_components['거래량'] = df_components['거래량'].astype(float)
as_sorted_by_volume = df_components.sort_values(by='거래량', ascending=False)

as_sorted_by_volume

          종목명 시작일 기준가 종료일 종가    대비   등락률       거래량          거래대금
종목 코드
60310      3S    1890   1941    51  2.70  309268.0  5.595723e+09
54620     APS    5660   5700    40  0.71  208525.0  1.129272e+09
95570  AJ네트웍스    4600   4745   145  3.15  104620.0  4.806956e+09
6840    AK홀딩스   11200  11070  -130 -1.16   55481.0  6.040858e+08

In [88]:
des_sorted_by_change_rate = df_components.sort_values(by='등락률', ascending=True)
des_sorted_by_change_rate

          종목명 시작일 기준가 종료일 종가    대비   등락률       거래량          거래대금
종목 코드
6840    AK홀딩스   11200  11070  -130 -1.16   55481.0  6.040858e+08
54620     APS    5660   5700    40  0.71  208525.0  1.129272e+09
60310      3S    1890   1941    51  2.70  309268.0  5.595723e+09
95570  AJ네트웍스    4600   4745   145  3.15  104620.0  4.806956e+09

In [89]:

df_components['시작일 기준가'] = df_components['시작일 기준가'].astype(float)
df_components['종료일 종가'] = df_components['종료일 종가'].astype(float)

df_components['수익률'] = (df_components['종료일 종가'] - df_components['시작일 기준가']) / df_components['시작일 기준가'] * 100
df_components

          종목명  시작일 기준가   종료일 종가    대비   등락률       거래량          거래대금       수익률
종목 코드
60310      3S   1890.0   1941.0    51  2.70  309268.0  5.595723e+09  2.698413
95570  AJ네트웍스   4600.0   4745.0   145  3.15  104620.0  4.806956e+09  3.152174
6840    AK홀딩스  11200.0  11070.0  -130 -1.16   55481.0  6.040858e+08 -1.160714
54620     APS   5660.0   5700.0    40  0.71  208525.0  1.129272e+09  0.706714

In [ ]:
df_components['거래량'] = df_components['거래량'].astype(int)

# 거래량 대비 거래대금 계산
df_components['거래량 대비 거래대금'] = df_components['거래대금'] / df_components['거래량']


##

In [96]:
df_components

,종목명,시작일 기준가,종료일 종가,대비,등락률,거래량,거래대금,수익률,거래량 대비 거래대금
종목 코드,,,,,,,,,
60310,3S,1890.0,1941.0,51,2.70,309268.0,5.595723e+09,2.698413,18093.444563
95570,AJ네트웍스,4600.0,4745.0,145,3.15,104620.0,4.806956e+09,3.152174,45946.816431
6840,AK홀딩스,11200.0,11070.0,-130,-1.16,55481.0,6.040858e+08,-1.160714,10888.157207
54620,APS,5660.0,5700.0,40,0.71,208525.0,1.129272e+09,0.706714,5415.523654